@font-face {
  font-family: 'font-icons';
  src: url('fonts/font-icons.eot?49704726');
  src: url('fonts/font-icons.eot?49704726#iefix') format('embedded-opentype'),
       url('fonts/font-icons.woff2?49704726') format('woff2'),
       url('fonts/font-icons.woff?49704726') format('woff'),
       url('fonts/font-icons.ttf?49704726') format('truetype'),
       url('fonts/font-icons.svg?49704726#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-icons';
    src: url('../font/font-icons.svg?49704726#font-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-type:before { content: '\e800'; } /* '' */
.icon-box:before { content: '\e801'; } /* '' */
.icon-folder-add:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-envelope:before { content: '\e805'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */
.icon-files:before { content: '\e807'; } /* '' */
.icon-printer2:before { content: '\e808'; } /* '' */
.icon-folder-add-1:before { content: '\e809'; } /* '' */
.icon-folder-settings:before { content: '\e80a'; } /* '' */
.icon-folder-check:before { content: '\e80b'; } /* '' */
.icon-wifi-low:before { content: '\e80c'; } /* '' */
.icon-wifi-mid:before { content: '\e80d'; } /* '' */
.icon-wifi-full:before { content: '\e80e'; } /* '' */
.icon-connection-empty:before { content: '\e80f'; } /* '' */
.icon-battery-full:before { content: '\e810'; } /* '' */
.icon-settings:before { content: '\e811'; } /* '' */
.icon-arrow-left:before { content: '\e812'; } /* '' */
.icon-arrow-up:before { content: '\e813'; } /* '' */
.icon-arrow-down:before { content: '\e814'; } /* '' */
.icon-arrow-right:before { content: '\e815'; } /* '' */
.icon-reload:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-trashcan:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-zoom-in:before { content: '\e81b'; } /* '' */
.icon-zoom-out:before { content: '\e81c'; } /* '' */
.icon-chat:before { content: '\e81d'; } /* '' */
.icon-clock:before { content: '\e81e'; } /* '' */
.icon-printer:before { content: '\e81f'; } /* '' */
.icon-home:before { content: '\e820'; } /* '' */
.icon-flag:before { content: '\e821'; } /* '' */
.icon-meter:before { content: '\e822'; } /* '' */
.icon-switch:before { content: '\e823'; } /* '' */
.icon-forbidden:before { content: '\e824'; } /* '' */
.icon-phone-landscape:before { content: '\e825'; } /* '' */
.icon-tablet:before { content: '\e826'; } /* '' */
.icon-tablet-landscape:before { content: '\e827'; } /* '' */
.icon-laptop:before { content: '\e828'; } /* '' */
.icon-camera:before { content: '\e829'; } /* '' */
.icon-microwave-oven:before { content: '\e82a'; } /* '' */
.icon-credit-cards:before { content: '\e82b'; } /* '' */
.icon-map-marker:before { content: '\e82c'; } /* '' */
.icon-map:before { content: '\e82d'; } /* '' */
.icon-support:before { content: '\e82e'; } /* '' */
.icon-newspaper2:before { content: '\e82f'; } /* '' */
.icon-barbell:before { content: '\e830'; } /* '' */
.icon-stopwatch:before { content: '\e831'; } /* '' */
.icon-atom:before { content: '\e832'; } /* '' */
.icon-image:before { content: '\e833'; } /* '' */
.icon-cube:before { content: '\e834'; } /* '' */
.icon-bars:before { content: '\e835'; } /* '' */
.icon-chart:before { content: '\e836'; } /* '' */
.icon-pencil:before { content: '\e837'; } /* '' */
.icon-measure:before { content: '\e838'; } /* '' */
.icon-eyedropper:before { content: '\e839'; } /* '' */
.icon-file-settings:before { content: '\e83a'; } /* '' */
.icon-file-add:before { content: '\e83b'; } /* '' */
.icon-file:before { content: '\e83c'; } /* '' */
.icon-align-left:before { content: '\e83d'; } /* '' */
.icon-align-right:before { content: '\e83e'; } /* '' */
.icon-align-center:before { content: '\e83f'; } /* '' */
.icon-align-justify:before { content: '\e840'; } /* '' */
.icon-file-broken:before { content: '\e841'; } /* '' */
.icon-browser:before { content: '\e842'; } /* '' */
.icon-windows:before { content: '\e843'; } /* '' */
.icon-window:before { content: '\e844'; } /* '' */
.icon-folder-1:before { content: '\e845'; } /* '' */
.icon-connection-25:before { content: '\e846'; } /* '' */
.icon-connection-50:before { content: '\e847'; } /* '' */
.icon-connection-75:before { content: '\e848'; } /* '' */
.icon-connection-full:before { content: '\e849'; } /* '' */
.icon-list:before { content: '\e84a'; } /* '' */
.icon-grid:before { content: '\e84b'; } /* '' */
.icon-stack3:before { content: '\e84c'; } /* '' */
.icon-battery-charging:before { content: '\e84d'; } /* '' */
.icon-battery-empty:before { content: '\e84e'; } /* '' */
.icon-battery-25:before { content: '\e84f'; } /* '' */
.icon-battery-50:before { content: '\e850'; } /* '' */
.icon-battery-75:before { content: '\e851'; } /* '' */
.icon-refresh:before { content: '\e852'; } /* '' */
.icon-volume:before { content: '\e853'; } /* '' */
.icon-volume-increase:before { content: '\e854'; } /* '' */
.icon-volume-decrease:before { content: '\e855'; } /* '' */
.icon-mute:before { content: '\e856'; } /* '' */
.icon-microphone:before { content: '\e857'; } /* '' */
.icon-microphone-off:before { content: '\e858'; } /* '' */
.icon-book:before { content: '\e859'; } /* '' */
.icon-checkmark:before { content: '\e85a'; } /* '' */
.icon-checkbox-checked:before { content: '\e85b'; } /* '' */
.icon-checkbox:before { content: '\e85c'; } /* '' */
.icon-paperclip:before { content: '\e85d'; } /* '' */
.icon-chat-1:before { content: '\e85e'; } /* '' */
.icon-chat-2:before { content: '\e85f'; } /* '' */
.icon-chat-3:before { content: '\e860'; } /* '' */
.icon-comment:before { content: '\e861'; } /* '' */
.icon-calendar:before { content: '\e862'; } /* '' */
.icon-bookmark:before { content: '\e863'; } /* '' */
.icon-email2:before { content: '\e864'; } /* '' */
.icon-heart:before { content: '\e865'; } /* '' */
.icon-enter:before { content: '\e866'; } /* '' */
.icon-cloud:before { content: '\e867'; } /* '' */
.icon-book2:before { content: '\e868'; } /* '' */
.icon-star:before { content: '\e869'; } /* '' */
.icon-lock:before { content: '\e86a'; } /* '' */
.icon-unlocked:before { content: '\e86b'; } /* '' */
.icon-unlocked2:before { content: '\e86c'; } /* '' */
.icon-users:before { content: '\e86d'; } /* '' */
.icon-user:before { content: '\e86e'; } /* '' */
.icon-users2:before { content: '\e86f'; } /* '' */
.icon-user2:before { content: '\e870'; } /* '' */
.icon-bullhorn:before { content: '\e871'; } /* '' */
.icon-share:before { content: '\e872'; } /* '' */
.icon-screen:before { content: '\e873'; } /* '' */
.icon-phone:before { content: '\e874'; } /* '' */
.icon-phone-portrait:before { content: '\e875'; } /* '' */
.icon-calculator:before { content: '\e876'; } /* '' */
.icon-bag:before { content: '\e877'; } /* '' */
.icon-diamond:before { content: '\e878'; } /* '' */
.icon-drink:before { content: '\e879'; } /* '' */
.icon-shorts:before { content: '\e87a'; } /* '' */
.icon-vcard:before { content: '\e87b'; } /* '' */
.icon-sun:before { content: '\e87c'; } /* '' */
.icon-bill:before { content: '\e87d'; } /* '' */
.icon-coffee:before { content: '\e87e'; } /* '' */
.icon-tv2:before { content: '\e87f'; } /* '' */
.icon-newspaper:before { content: '\e880'; } /* '' */
.icon-stack:before { content: '\e881'; } /* '' */
.icon-syringe:before { content: '\e882'; } /* '' */
.icon-health:before { content: '\e883'; } /* '' */
.icon-bolt:before { content: '\e884'; } /* '' */
.icon-pill:before { content: '\e885'; } /* '' */
.icon-bones:before { content: '\e886'; } /* '' */
.icon-lab:before { content: '\e887'; } /* '' */
.icon-clipboard:before { content: '\e888'; } /* '' */
.icon-mug:before { content: '\e889'; } /* '' */
.icon-bucket:before { content: '\e88a'; } /* '' */
.icon-select:before { content: '\e88b'; } /* '' */
.icon-graph:before { content: '\e88c'; } /* '' */
.icon-crop:before { content: '\e88d'; } /* '' */
.icon-heart2:before { content: '\e88e'; } /* '' */
.icon-cloud2:before { content: '\e88f'; } /* '' */
.icon-star2:before { content: '\e890'; } /* '' */
.icon-pen:before { content: '\e891'; } /* '' */
.icon-diamond2:before { content: '\e892'; } /* '' */
.icon-display:before { content: '\e893'; } /* '' */
.icon-paperplane:before { content: '\e894'; } /* '' */
.icon-params:before { content: '\e895'; } /* '' */
.icon-banknote:before { content: '\e896'; } /* '' */
.icon-vynil:before { content: '\e897'; } /* '' */
.icon-truck:before { content: '\e898'; } /* '' */
.icon-world:before { content: '\e899'; } /* '' */
.icon-tv:before { content: '\e89a'; } /* '' */
.icon-sound:before { content: '\e89b'; } /* '' */
.icon-video:before { content: '\e89c'; } /* '' */
.icon-trash:before { content: '\e89d'; } /* '' */
.icon-user3:before { content: '\e89e'; } /* '' */
.icon-key:before { content: '\e89f'; } /* '' */
.icon-search2:before { content: '\e8a0'; } /* '' */
.icon-settings2:before { content: '\e8a1'; } /* '' */
.icon-camera2:before { content: '\e8a2'; } /* '' */
.icon-tag2:before { content: '\e8a3'; } /* '' */
.icon-lock2:before { content: '\e8a4'; } /* '' */
.icon-bulb:before { content: '\e8a5'; } /* '' */
.icon-location:before { content: '\e8a6'; } /* '' */
.icon-eye:before { content: '\e8a7'; } /* '' */
.icon-bubble:before { content: '\e8a8'; } /* '' */
.icon-stack2:before { content: '\e8a9'; } /* '' */
.icon-cup:before { content: '\e8aa'; } /* '' */
.icon-phone2:before { content: '\e8ab'; } /* '' */
.icon-news:before { content: '\e8ac'; } /* '' */
.icon-mail:before { content: '\e8ad'; } /* '' */
.icon-like:before { content: '\e8ae'; } /* '' */
.icon-photo:before { content: '\e8af'; } /* '' */
.icon-note:before { content: '\e8b0'; } /* '' */
.icon-clock2:before { content: '\e8b1'; } /* '' */
.icon-data:before { content: '\e8b2'; } /* '' */
.icon-music:before { content: '\e8b3'; } /* '' */
.icon-megaphone:before { content: '\e8b4'; } /* '' */
.icon-study:before { content: '\e8b5'; } /* '' */
.icon-lab2:before { content: '\e8b6'; } /* '' */
.icon-food:before { content: '\e8b7'; } /* '' */
.icon-t-shirt:before { content: '\e8b8'; } /* '' */
.icon-fire:before { content: '\e8b9'; } /* '' */
.icon-clip:before { content: '\e8ba'; } /* '' */
.icon-shop:before { content: '\e8bb'; } /* '' */
.icon-calendar2:before { content: '\e8bc'; } /* '' */
.icon-wallet:before { content: '\e8bd'; } /* '' */
.icon-glass:before { content: '\e8be'; } /* '' */
.icon-music2:before { content: '\e8bf'; } /* '' */
.icon-search3:before { content: '\e8c0'; } /* '' */
.icon-envelope2:before { content: '\e8c1'; } /* '' */
.icon-heart3:before { content: '\e8c2'; } /* '' */
.icon-star3:before { content: '\e8c3'; } /* '' */
.icon-star-empty:before { content: '\e8c4'; } /* '' */
.icon-user4:before { content: '\e8c5'; } /* '' */
.icon-film:before { content: '\e8c6'; } /* '' */
.icon-th-large:before { content: '\e8c7'; } /* '' */
.icon-th:before { content: '\e8c8'; } /* '' */
.icon-th-list:before { content: '\e8c9'; } /* '' */
.icon-ok:before { content: '\e8ca'; } /* '' */
.icon-remove:before { content: '\e8cb'; } /* '' */
.icon-zoom-in2:before { content: '\e8cc'; } /* '' */
.icon-zoom-out2:before { content: '\e8cd'; } /* '' */
.icon-off:before { content: '\e8ce'; } /* '' */
.icon-signal:before { content: '\e8cf'; } /* '' */
.icon-cog:before { content: '\e8d0'; } /* '' */
.icon-trash2:before { content: '\e8d1'; } /* '' */
.icon-home2:before { content: '\e8d2'; } /* '' */
.icon-file2:before { content: '\e8d3'; } /* '' */
.icon-time:before { content: '\e8d4'; } /* '' */
.icon-road:before { content: '\e8d5'; } /* '' */
.icon-download-alt:before { content: '\e8d6'; } /* '' */
.icon-download2:before { content: '\e8d7'; } /* '' */
.icon-upload:before { content: '\e8d8'; } /* '' */
.icon-inbox:before { content: '\e8d9'; } /* '' */
.icon-play-circle:before { content: '\e8da'; } /* '' */
.icon-repeat:before { content: '\e8db'; } /* '' */
.icon-refresh2:before { content: '\e8dc'; } /* '' */
.icon-list-alt:before { content: '\e8dd'; } /* '' */
.icon-lock3:before { content: '\e8de'; } /* '' */
.icon-flag2:before { content: '\e8df'; } /* '' */
.icon-headphones:before { content: '\e8e0'; } /* '' */
.icon-volume-off:before { content: '\e8e1'; } /* '' */
.icon-volume-down:before { content: '\e8e2'; } /* '' */
.icon-volume-up:before { content: '\e8e3'; } /* '' */
.icon-qrcode:before { content: '\e8e4'; } /* '' */
.icon-barcode:before { content: '\e8e5'; } /* '' */
.icon-tag3:before { content: '\e8e6'; } /* '' */
.icon-tags:before { content: '\e8e7'; } /* '' */
.icon-book3:before { content: '\e8e8'; } /* '' */
.icon-bookmark2:before { content: '\e8e9'; } /* '' */
.icon-print2:before { content: '\e8ea'; } /* '' */
.icon-camera3:before { content: '\e8eb'; } /* '' */
.icon-font:before { content: '\e8ec'; } /* '' */
.icon-bold:before { content: '\e8ed'; } /* '' */
.icon-italic:before { content: '\e8ee'; } /* '' */
.icon-text-height:before { content: '\e8ef'; } /* '' */
.icon-text-width:before { content: '\e8f0'; } /* '' */
.icon-align-left2:before { content: '\e8f1'; } /* '' */
.icon-align-center2:before { content: '\e8f2'; } /* '' */
.icon-align-right2:before { content: '\e8f3'; } /* '' */
.icon-align-justify2:before { content: '\e8f4'; } /* '' */
.icon-list2:before { content: '\e8f5'; } /* '' */
.icon-indent-left:before { content: '\e8f6'; } /* '' */
.icon-indent-right:before { content: '\e8f7'; } /* '' */
.icon-facetime-video:before { content: '\e8f8'; } /* '' */
.icon-picture:before { content: '\e8f9'; } /* '' */
.icon-pencil2:before { content: '\e8fa'; } /* '' */
.icon-map-marker2:before { content: '\e8fb'; } /* '' */
.icon-adjust:before { content: '\e8fc'; } /* '' */
.icon-tint:before { content: '\e8fd'; } /* '' */
.icon-edit:before { content: '\e8fe'; } /* '' */
.icon-share2:before { content: '\e8ff'; } /* '' */
.icon-check:before { content: '\e900'; } /* '' */
.icon-move:before { content: '\e901'; } /* '' */
.icon-step-backward:before { content: '\e902'; } /* '' */
.icon-fast-backward:before { content: '\e903'; } /* '' */
.icon-backward:before { content: '\e904'; } /* '' */
.icon-play:before { content: '\e905'; } /* '' */
.icon-pause:before { content: '\e906'; } /* '' */
.icon-stop:before { content: '\e907'; } /* '' */
.icon-forward:before { content: '\e908'; } /* '' */
.icon-fast-forward:before { content: '\e909'; } /* '' */
.icon-step-forward:before { content: '\e90a'; } /* '' */
.icon-eject:before { content: '\e90b'; } /* '' */
.icon-chevron-left:before { content: '\e90c'; } /* '' */
.icon-chevron-right:before { content: '\e90d'; } /* '' */
.icon-plus-sign:before { content: '\e90e'; } /* '' */
.icon-minus-sign:before { content: '\e90f'; } /* '' */
.icon-remove-sign:before { content: '\e910'; } /* '' */
.icon-ok-sign:before { content: '\e911'; } /* '' */
.icon-question-sign:before { content: '\e912'; } /* '' */
.icon-info-sign:before { content: '\e913'; } /* '' */
.icon-screenshot:before { content: '\e914'; } /* '' */
.icon-remove-circle:before { content: '\e915'; } /* '' */
.icon-ok-circle:before { content: '\e916'; } /* '' */
.icon-ban-circle:before { content: '\e917'; } /* '' */
.icon-arrow-left2:before { content: '\e918'; } /* '' */
.icon-arrow-right2:before { content: '\e919'; } /* '' */
.icon-arrow-up2:before { content: '\e91a'; } /* '' */
.icon-arrow-down2:before { content: '\e91b'; } /* '' */
.icon-share-alt:before { content: '\e91c'; } /* '' */
.icon-resize-full:before { content: '\e91d'; } /* '' */
.icon-resize-small:before { content: '\e91e'; } /* '' */
.icon-plus:before { content: '\e91f'; } /* '' */
.icon-minus:before { content: '\e920'; } /* '' */
.icon-asterisk:before { content: '\e921'; } /* '' */
.icon-exclamation-sign:before { content: '\e922'; } /* '' */
.icon-gift:before { content: '\e923'; } /* '' */
.icon-leaf:before { content: '\e924'; } /* '' */
.icon-fire2:before { content: '\e925'; } /* '' */
.icon-eye-open:before { content: '\e926'; } /* '' */
.icon-eye-close:before { content: '\e927'; } /* '' */
.icon-warning-sign:before { content: '\e928'; } /* '' */
.icon-plane:before { content: '\e929'; } /* '' */
.icon-calendar3:before { content: '\e92a'; } /* '' */
.icon-random:before { content: '\e92b'; } /* '' */
.icon-comment2:before { content: '\e92c'; } /* '' */
.icon-magnet:before { content: '\e92d'; } /* '' */
.icon-chevron-up:before { content: '\e92e'; } /* '' */
.icon-chevron-down:before { content: '\e92f'; } /* '' */
.icon-retweet:before { content: '\e930'; } /* '' */
.icon-shopping-cart:before { content: '\e931'; } /* '' */
.icon-folder-close:before { content: '\e932'; } /* '' */
.icon-folder-open:before { content: '\e933'; } /* '' */
.icon-resize-vertical:before { content: '\e934'; } /* '' */
.icon-resize-horizontal:before { content: '\e935'; } /* '' */
.icon-bar-chart:before { content: '\e936'; } /* '' */
.icon-twitter-sign:before { content: '\e937'; } /* '' */
.icon-facebook-sign:before { content: '\e938'; } /* '' */
.icon-camera-retro:before { content: '\e939'; } /* '' */
.icon-key2:before { content: '\e93a'; } /* '' */
.icon-cogs:before { content: '\e93b'; } /* '' */
.icon-comments:before { content: '\e93c'; } /* '' */
.icon-thumbs-up:before { content: '\e93d'; } /* '' */
.icon-thumbs-down:before { content: '\e93e'; } /* '' */
.icon-star-half:before { content: '\e93f'; } /* '' */
.icon-heart-empty:before { content: '\e940'; } /* '' */
.icon-signout:before { content: '\e941'; } /* '' */
.icon-linkedin-sign:before { content: '\e942'; } /* '' */
.icon-pushpin:before { content: '\e943'; } /* '' */
.icon-external-link:before { content: '\e944'; } /* '' */
.icon-signin:before { content: '\e945'; } /* '' */
.icon-trophy:before { content: '\e946'; } /* '' */
.icon-github-sign:before { content: '\e947'; } /* '' */
.icon-upload-alt:before { content: '\e948'; } /* '' */
.icon-lemon:before { content: '\e949'; } /* '' */
.icon-phone3:before { content: '\e94a'; } /* '' */
.icon-check-empty:before { content: '\e94b'; } /* '' */
.icon-bookmark-empty:before { content: '\e94c'; } /* '' */
.icon-phone-sign:before { content: '\e94d'; } /* '' */
.icon-twitter2:before { content: '\e94e'; } /* '' */
.icon-facebook2:before { content: '\e94f'; } /* '' */
.icon-github2:before { content: '\e950'; } /* '' */
.icon-unlock:before { content: '\e951'; } /* '' */
.icon-credit:before { content: '\e952'; } /* '' */
.icon-rss2:before { content: '\e953'; } /* '' */
.icon-hdd:before { content: '\e954'; } /* '' */
.icon-bullhorn2:before { content: '\e955'; } /* '' */
.icon-bell:before { content: '\e956'; } /* '' */
.icon-certificate:before { content: '\e957'; } /* '' */
.icon-hand-right:before { content: '\e958'; } /* '' */
.icon-hand-left:before { content: '\e959'; } /* '' */
.icon-hand-up:before { content: '\e95a'; } /* '' */
.icon-hand-down:before { content: '\e95b'; } /* '' */
.icon-circle-arrow-left:before { content: '\e95c'; } /* '' */
.icon-circle-arrow-right:before { content: '\e95d'; } /* '' */
.icon-circle-arrow-up:before { content: '\e95e'; } /* '' */
.icon-circle-arrow-down:before { content: '\e95f'; } /* '' */
.icon-globe:before { content: '\e960'; } /* '' */
.icon-wrench:before { content: '\e961'; } /* '' */
.icon-tasks:before { content: '\e962'; } /* '' */
.icon-filter:before { content: '\e963'; } /* '' */
.icon-briefcase:before { content: '\e964'; } /* '' */
.icon-fullscreen:before { content: '\e965'; } /* '' */
.icon-group:before { content: '\e966'; } /* '' */
.icon-link:before { content: '\e967'; } /* '' */
.icon-cloud3:before { content: '\e968'; } /* '' */
.icon-beaker:before { content: '\e969'; } /* '' */
.icon-cut:before { content: '\e96a'; } /* '' */
.icon-copy:before { content: '\e96b'; } /* '' */
.icon-paper-clip:before { content: '\e96c'; } /* '' */
.icon-save:before { content: '\e96d'; } /* '' */
.icon-sign-blank:before { content: '\e96e'; } /* '' */
.icon-reorder:before { content: '\e96f'; } /* '' */
.icon-list-ul:before { content: '\e970'; } /* '' */
.icon-list-ol:before { content: '\e971'; } /* '' */
.icon-strikethrough:before { content: '\e972'; } /* '' */
.icon-underline:before { content: '\e973'; } /* '' */
.icon-table:before { content: '\e974'; } /* '' */
.icon-magic:before { content: '\e975'; } /* '' */
.icon-truck2:before { content: '\e976'; } /* '' */
.icon-pinterest2:before { content: '\e977'; } /* '' */
.icon-pinterest-sign:before { content: '\e978'; } /* '' */
.icon-google-plus-sign:before { content: '\e979'; } /* '' */
.icon-google-plus:before { content: '\e97a'; } /* '' */
.icon-money:before { content: '\e97b'; } /* '' */
.icon-caret-down:before { content: '\e97c'; } /* '' */
.icon-caret-up:before { content: '\e97d'; } /* '' */
.icon-caret-left:before { content: '\e97e'; } /* '' */
.icon-caret-right:before { content: '\e97f'; } /* '' */
.icon-columns:before { content: '\e980'; } /* '' */
.icon-sort:before { content: '\e981'; } /* '' */
.icon-sort-down:before { content: '\e982'; } /* '' */
.icon-sort-up:before { content: '\e983'; } /* '' */
.icon-envelope-alt:before { content: '\e984'; } /* '' */
.icon-linkedin2:before { content: '\e985'; } /* '' */
.icon-undo:before { content: '\e986'; } /* '' */
.icon-legal:before { content: '\e987'; } /* '' */
.icon-dashboard:before { content: '\e988'; } /* '' */
.icon-comment-alt:before { content: '\e989'; } /* '' */
.icon-comments-alt:before { content: '\e98a'; } /* '' */
.icon-bolt2:before { content: '\e98b'; } /* '' */
.icon-sitemap:before { content: '\e98c'; } /* '' */
.icon-umbrella:before { content: '\e98d'; } /* '' */
.icon-paste:before { content: '\e98e'; } /* '' */
.icon-lightbulb:before { content: '\e98f'; } /* '' */
.icon-exchange:before { content: '\e990'; } /* '' */
.icon-cloud-download:before { content: '\e991'; } /* '' */
.icon-cloud-upload:before { content: '\e992'; } /* '' */
.icon-user-md:before { content: '\e993'; } /* '' */
.icon-stethoscope:before { content: '\e994'; } /* '' */
.icon-suitcase:before { content: '\e995'; } /* '' */
.icon-bell-alt:before { content: '\e996'; } /* '' */
.icon-coffee2:before { content: '\e997'; } /* '' */
.icon-food2:before { content: '\e998'; } /* '' */
.icon-file-alt:before { content: '\e999'; } /* '' */
.icon-building:before { content: '\e99a'; } /* '' */
.icon-hospital:before { content: '\e99b'; } /* '' */
.icon-ambulance:before { content: '\e99c'; } /* '' */
.icon-medkit:before { content: '\e99d'; } /* '' */
.icon-fighter-jet:before { content: '\e99e'; } /* '' */
.icon-beer:before { content: '\e99f'; } /* '' */
.icon-h-sign:before { content: '\e9a0'; } /* '' */
.icon-plus-sign2:before { content: '\e9a1'; } /* '' */
.icon-double-angle-left:before { content: '\e9a2'; } /* '' */
.icon-double-angle-right:before { content: '\e9a3'; } /* '' */
.icon-double-angle-up:before { content: '\e9a4'; } /* '' */
.icon-double-angle-down:before { content: '\e9a5'; } /* '' */
.icon-angle-left:before { content: '\e9a6'; } /* '' */
.icon-angle-right:before { content: '\e9a7'; } /* '' */
.icon-angle-up:before { content: '\e9a8'; } /* '' */
.icon-angle-down:before { content: '\e9a9'; } /* '' */
.icon-desktop:before { content: '\e9aa'; } /* '' */
.icon-laptop2:before { content: '\e9ab'; } /* '' */
.icon-tablet2:before { content: '\e9ac'; } /* '' */
.icon-mobile:before { content: '\e9ad'; } /* '' */
.icon-circle-blank:before { content: '\e9ae'; } /* '' */
.icon-quote-left:before { content: '\e9af'; } /* '' */
.icon-quote-right:before { content: '\e9b0'; } /* '' */
.icon-spinner:before { content: '\e9b1'; } /* '' */
.icon-circle:before { content: '\e9b2'; } /* '' */
.icon-reply:before { content: '\e9b3'; } /* '' */
.icon-github-alt:before { content: '\e9b4'; } /* '' */
.icon-folder-close-alt:before { content: '\e9b5'; } /* '' */
.icon-folder-open-alt:before { content: '\e9b6'; } /* '' */
.icon-expand-alt:before { content: '\e9b7'; } /* '' */
.icon-collapse-alt:before { content: '\e9b8'; } /* '' */
.icon-smile:before { content: '\e9b9'; } /* '' */
.icon-frown:before { content: '\e9ba'; } /* '' */
.icon-meh:before { content: '\e9bb'; } /* '' */
.icon-gamepad:before { content: '\e9bc'; } /* '' */
.icon-keyboard:before { content: '\e9bd'; } /* '' */
.icon-flag-alt:before { content: '\e9be'; } /* '' */
.icon-flag-checkered:before { content: '\e9bf'; } /* '' */
.icon-terminal:before { content: '\e9c0'; } /* '' */
.icon-code:before { content: '\e9c1'; } /* '' */
.icon-reply-all:before { content: '\e9c2'; } /* '' */
.icon-star-half-full:before { content: '\e9c3'; } /* '' */
.icon-location-arrow:before { content: '\e9c4'; } /* '' */
.icon-crop2:before { content: '\e9c5'; } /* '' */
.icon-code-fork:before { content: '\e9c6'; } /* '' */
.icon-unlink:before { content: '\e9c7'; } /* '' */
.icon-question:before { content: '\e9c8'; } /* '' */
.icon-info:before { content: '\e9c9'; } /* '' */
.icon-exclamation:before { content: '\e9ca'; } /* '' */
.icon-superscript:before { content: '\e9cb'; } /* '' */
.icon-subscript:before { content: '\e9cc'; } /* '' */
.icon-eraser:before { content: '\e9cd'; } /* '' */
.icon-puzzle:before { content: '\e9ce'; } /* '' */
.icon-microphone2:before { content: '\e9cf'; } /* '' */
.icon-microphone-off2:before { content: '\e9d0'; } /* '' */
.icon-shield:before { content: '\e9d1'; } /* '' */
.icon-calendar-empty:before { content: '\e9d2'; } /* '' */
.icon-fire-extinguisher:before { content: '\e9d3'; } /* '' */
.icon-rocket:before { content: '\e9d4'; } /* '' */
.icon-maxcdn:before { content: '\e9d5'; } /* '' */
.icon-chevron-sign-left:before { content: '\e9d6'; } /* '' */
.icon-chevron-sign-right:before { content: '\e9d7'; } /* '' */
.icon-chevron-sign-up:before { content: '\e9d8'; } /* '' */
.icon-chevron-sign-down:before { content: '\e9d9'; } /* '' */
.icon-html52:before { content: '\e9da'; } /* '' */
.icon-css3:before { content: '\e9db'; } /* '' */
.icon-anchor:before { content: '\e9dc'; } /* '' */
.icon-unlock-alt:before { content: '\e9dd'; } /* '' */
.icon-bullseye:before { content: '\e9de'; } /* '' */
.icon-ellipsis-horizontal:before { content: '\e9df'; } /* '' */
.icon-ellipsis-vertical:before { content: '\e9e0'; } /* '' */
.icon-rss-sign:before { content: '\e9e1'; } /* '' */
.icon-play-sign:before { content: '\e9e2'; } /* '' */
.icon-ticket:before { content: '\e9e3'; } /* '' */
.icon-minus-sign-alt:before { content: '\e9e4'; } /* '' */
.icon-check-minus:before { content: '\e9e5'; } /* '' */
.icon-level-up:before { content: '\e9e6'; } /* '' */
.icon-level-down:before { content: '\e9e7'; } /* '' */
.icon-check-sign:before { content: '\e9e8'; } /* '' */
.icon-edit-sign:before { content: '\e9e9'; } /* '' */
.icon-external-link-sign:before { content: '\e9ea'; } /* '' */
.icon-share-sign:before { content: '\e9eb'; } /* '' */
.icon-compass:before { content: '\e9ec'; } /* '' */
.icon-collapse:before { content: '\e9ed'; } /* '' */
.icon-collapse-top:before { content: '\e9ee'; } /* '' */
.icon-expand:before { content: '\e9ef'; } /* '' */
.icon-euro:before { content: '\e9f0'; } /* '' */
.icon-gbp:before { content: '\e9f1'; } /* '' */
.icon-dollar:before { content: '\e9f2'; } /* '' */
.icon-rupee:before { content: '\e9f3'; } /* '' */
.icon-yen:before { content: '\e9f4'; } /* '' */
.icon-renminbi:before { content: '\e9f5'; } /* '' */
.icon-won:before { content: '\e9f6'; } /* '' */
.icon-bitcoin2:before { content: '\e9f7'; } /* '' */
.icon-file3:before { content: '\e9f8'; } /* '' */
.icon-file-text:before { content: '\e9f9'; } /* '' */
.icon-sort-by-alphabet:before { content: '\e9fa'; } /* '' */
.icon-sort-by-alphabet-alt:before { content: '\e9fb'; } /* '' */
.icon-sort-by-attributes:before { content: '\e9fc'; } /* '' */
.icon-sort-by-attributes-alt:before { content: '\e9fd'; } /* '' */
.icon-sort-by-order:before { content: '\e9fe'; } /* '' */
.icon-sort-by-order-alt:before { content: '\e9ff'; } /* '' */
.icon-thumbs-up2:before { content: '\ea00'; } /* '' */
.icon-thumbs-down2:before { content: '\ea01'; } /* '' */
.icon-youtube-sign:before { content: '\ea02'; } /* '' */
.icon-youtube2:before { content: '\ea03'; } /* '' */
.icon-xing2:before { content: '\ea04'; } /* '' */
.icon-xing-sign:before { content: '\ea05'; } /* '' */
.icon-youtube-play:before { content: '\ea06'; } /* '' */
.icon-dropbox2:before { content: '\ea07'; } /* '' */
.icon-stackexchange:before { content: '\ea08'; } /* '' */
.icon-instagram2:before { content: '\ea09'; } /* '' */
.icon-flickr2:before { content: '\ea0a'; } /* '' */
.icon-adn:before { content: '\ea0b'; } /* '' */
.icon-bitbucket2:before { content: '\ea0c'; } /* '' */
.icon-bitbucket-sign:before { content: '\ea0d'; } /* '' */
.icon-tumblr2:before { content: '\ea0e'; } /* '' */
.icon-tumblr-sign:before { content: '\ea0f'; } /* '' */
.icon-long-arrow-down:before { content: '\ea10'; } /* '' */
.icon-long-arrow-up:before { content: '\ea11'; } /* '' */
.icon-long-arrow-left:before { content: '\ea12'; } /* '' */
.icon-long-arrow-right:before { content: '\ea13'; } /* '' */
.icon-apple:before { content: '\ea14'; } /* '' */
.icon-windows3:before { content: '\ea15'; } /* '' */
.icon-android2:before { content: '\ea16'; } /* '' */
.icon-linux:before { content: '\ea17'; } /* '' */
.icon-dribbble2:before { content: '\ea18'; } /* '' */
.icon-skype2:before { content: '\ea19'; } /* '' */
.icon-foursquare2:before { content: '\ea1a'; } /* '' */
.icon-trello:before { content: '\ea1b'; } /* '' */
.icon-female:before { content: '\ea1c'; } /* '' */
.icon-male:before { content: '\ea1d'; } /* '' */
.icon-gittip:before { content: '\ea1e'; } /* '' */
.icon-sun2:before { content: '\ea1f'; } /* '' */
.icon-moon:before { content: '\ea20'; } /* '' */
.icon-archive2:before { content: '\ea21'; } /* '' */
.icon-bug:before { content: '\ea22'; } /* '' */
.icon-renren:before { content: '\ea23'; } /* '' */
.icon-weibo2:before { content: '\ea24'; } /* '' */
.icon-vk2:before { content: '\ea25'; } /* '' */
.icon-duckduckgo:before { content: '\ea26'; } /* '' */
.icon-aim:before { content: '\ea27'; } /* '' */
.icon-delicious:before { content: '\ea28'; } /* '' */
.icon-paypal:before { content: '\ea29'; } /* '' */
.icon-flattr:before { content: '\ea2a'; } /* '' */
.icon-android:before { content: '\ea2b'; } /* '' */
.icon-eventful:before { content: '\ea2c'; } /* '' */
.icon-smashmag:before { content: '\ea2d'; } /* '' */
.icon-gplus:before { content: '\ea2e'; } /* '' */
.icon-wikipedia:before { content: '\ea2f'; } /* '' */
.icon-lanyrd:before { content: '\ea30'; } /* '' */
.icon-calendar-1:before { content: '\ea31'; } /* '' */
.icon-stumbleupon:before { content: '\ea32'; } /* '' */
.icon-fivehundredpx:before { content: '\ea33'; } /* '' */
.icon-pinterest:before { content: '\ea34'; } /* '' */
.icon-bitcoin:before { content: '\ea35'; } /* '' */
.icon-w3c:before { content: '\ea36'; } /* '' */
.icon-foursquare:before { content: '\ea37'; } /* '' */
.icon-html5:before { content: '\ea38'; } /* '' */
.icon-ie:before { content: '\ea39'; } /* '' */
.icon-call:before { content: '\ea3a'; } /* '' */
.icon-grooveshark:before { content: '\ea3b'; } /* '' */
.icon-ninetyninedesigns:before { content: '\ea3c'; } /* '' */
.icon-forrst:before { content: '\ea3d'; } /* '' */
.icon-digg:before { content: '\ea3e'; } /* '' */
.icon-spotify:before { content: '\ea3f'; } /* '' */
.icon-reddit:before { content: '\ea40'; } /* '' */
.icon-guest:before { content: '\ea41'; } /* '' */
.icon-gowalla:before { content: '\ea42'; } /* '' */
.icon-appstore:before { content: '\ea43'; } /* '' */
.icon-blogger:before { content: '\ea44'; } /* '' */
.icon-cc:before { content: '\ea45'; } /* '' */
.icon-dribbble:before { content: '\ea46'; } /* '' */
.icon-evernote:before { content: '\ea47'; } /* '' */
.icon-flickr:before { content: '\ea48'; } /* '' */
.icon-google:before { content: '\ea49'; } /* '' */
.icon-viadeo:before { content: '\ea4a'; } /* '' */
.icon-instapaper:before { content: '\ea4b'; } /* '' */
.icon-weibo:before { content: '\ea4c'; } /* '' */
.icon-klout:before { content: '\ea4d'; } /* '' */
.icon-linkedin:before { content: '\ea4e'; } /* '' */
.icon-meetup:before { content: '\ea4f'; } /* '' */
.icon-vk:before { content: '\ea50'; } /* '' */
.icon-plancast:before { content: '\ea51'; } /* '' */
.icon-disqus:before { content: '\ea52'; } /* '' */
.icon-rss:before { content: '\ea53'; } /* '' */
.icon-skype:before { content: '\ea54'; } /* '' */
.icon-twitter:before { content: '\ea55'; } /* '' */
.icon-youtube:before { content: '\ea56'; } /* '' */
.icon-vimeo:before { content: '\ea57'; } /* '' */
.icon-windows2:before { content: '\ea58'; } /* '' */
.icon-xing:before { content: '\ea59'; } /* '' */
.icon-yahoo:before { content: '\ea5a'; } /* '' */
.icon-chrome:before { content: '\ea5b'; } /* '' */
.icon-email3:before { content: '\ea5c'; } /* '' */
.icon-macstore:before { content: '\ea5d'; } /* '' */
.icon-myspace:before { content: '\ea5e'; } /* '' */
.icon-podcast:before { content: '\ea5f'; } /* '' */
.icon-amazon:before { content: '\ea60'; } /* '' */
.icon-steam:before { content: '\ea61'; } /* '' */
.icon-cloudapp:before { content: '\ea62'; } /* '' */
.icon-dropbox:before { content: '\ea63'; } /* '' */
.icon-ebay:before { content: '\ea64'; } /* '' */
.icon-facebook:before { content: '\ea65'; } /* '' */
.icon-github:before { content: '\ea66'; } /* '' */
.icon-github-circled:before { content: '\ea67'; } /* '' */
.icon-googleplay:before { content: '\ea68'; } /* '' */
.icon-itunes:before { content: '\ea69'; } /* '' */
.icon-plurk:before { content: '\ea6a'; } /* '' */
.icon-songkick:before { content: '\ea6b'; } /* '' */
.icon-lastfm:before { content: '\ea6c'; } /* '' */
.icon-gmail:before { content: '\ea6d'; } /* '' */
.icon-pinboard:before { content: '\ea6e'; } /* '' */
.icon-openid:before { content: '\ea6f'; } /* '' */
.icon-quora:before { content: '\ea70'; } /* '' */
.icon-soundcloud:before { content: '\ea71'; } /* '' */
.icon-tumblr:before { content: '\ea72'; } /* '' */
.icon-eventasaurus:before { content: '\ea73'; } /* '' */
.icon-wordpress:before { content: '\ea74'; } /* '' */
.icon-yelp:before { content: '\ea75'; } /* '' */
.icon-intensedebate:before { content: '\ea76'; } /* '' */
.icon-eventbrite:before { content: '\ea77'; } /* '' */
.icon-scribd:before { content: '\ea78'; } /* '' */
.icon-posterous:before { content: '\ea79'; } /* '' */
.icon-stripe:before { content: '\ea7a'; } /* '' */
.icon-opentable:before { content: '\ea7b'; } /* '' */
.icon-cart:before { content: '\ea7c'; } /* '' */
.icon-print:before { content: '\ea7d'; } /* '' */
.icon-angellist:before { content: '\ea7e'; } /* '' */
.icon-instagram:before { content: '\ea7f'; } /* '' */
.icon-dwolla:before { content: '\ea80'; } /* '' */
.icon-appnet:before { content: '\ea81'; } /* '' */
.icon-statusnet:before { content: '\ea82'; } /* '' */
.icon-acrobat:before { content: '\ea83'; } /* '' */
.icon-drupal:before { content: '\ea84'; } /* '' */
.icon-buffer:before { content: '\ea85'; } /* '' */
.icon-pocket:before { content: '\ea86'; } /* '' */
.icon-bitbucket:before { content: '\ea87'; } /* '' */
.icon-lego:before { content: '\ea88'; } /* '' */
.icon-login:before { content: '\ea89'; } /* '' */
.icon-stackoverflow:before { content: '\ea8a'; } /* '' */
.icon-hackernews:before { content: '\ea8b'; } /* '' */
.icon-lkdto:before { content: '\ea8c'; } /* '' */
.icon-11:before { content: '\eabe'; } /* '' */
.icon-22:before { content: '\eabf'; } /* '' */
.icon-33:before { content: '\eac0'; } /* '' */
.icon-44:before { content: '\eac1'; } /* '' */
.icon-55:before { content: '\eac2'; } /* '' */
.icon-66:before { content: '\eac3'; } /* '' */